header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    padding-bottom: 0;
}

.logo {
    max-width: 100%;
    width: 200px;
}

.login {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.sign-in {
    padding-left: 5px;
    font-weight: bold;
}

a, a:visited {
    text-decoration: none;
    color: #000;
}

.user-icon {
    position: relative;
    top: 1px;
}