.home_first_section {
  background-image: url(../src/images/bank-tree.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
  background-position: 0 -50px;
}

.content {
  position: relative;
  background-color: white;
  top: 10%;
  width: 200px;
  text-align: left;
  padding: 2rem;
  margin: 0 auto;
  .title {
    font-weight: bold;
    font-size: 1rem;
    margin: 0;
  }
  & p {
    color: rgb(44, 62, 80);
    font-size: 0.9rem;
    margin-bottom: 0;
  }
}

@media (min-width: 920px) {
  .home_first_section {
      height: 400px;
      background-position: 0% 33%;
  }

  .content {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 300px;
    margin: 2rem;
    & p {
      font-size: 1.2rem;
    }
    .title {
      font-size: 1.5rem;
    }
  }
}